<!DOCTYPE html>
<html lang="en">
<head>
	<!--External fonts-->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
</head>
<body class="crumina-grid" ng-app="BitnobApp" ng-controller="StaticPagesController">
<!-- Preloader -->
<div id="hellopreloader"
style="display: block; position: fixed;z-index: 99999;top: 0;left: 0;width: 100%;height: 100%;min-width: 100%;background: #66b5ff url(svg/preload.svg) center center no-repeat;background-size: 41px;opacity: 1;">
</div>
<!-- ... end Preloader -->

<div class="header-spacer"></div>
<div class="content-wrapper">
	<!-- Block IMG-bottom -->

	<section class="background-contain bg-15 bg-blue-lighteen pt120">
		<div class="container">
			<div class="row">
				<div class="crumina-module crumina-module-img-bottom">
					<div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
						<div class="crumina-module-img-content medium-padding100">
							<div class="crumina-module crumina-heading">
								<h6 class="heading-sup-title">Innovation</h6>
								<h2 class="heading-title">We are <span class="c-primary">Bitnob!</span> We build into the future of CryptoCurrencies</h2>
							</div>

							<a href="#aboutsection" class="btn btn-border btn--with-shadow c-primary">
								Learn More <i class="fa fa-arrow-down"></i>
							</a>

							<a href="#" class="btn btn--green btn--with-shadow">
								Get Started Here
							</a>
						</div>
					</div>


					<!-- <div class="col-lg-4 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
						<img class="img-bottom" src="img/man.png" alt="man">
					</div> -->
				</div>
			</div>
		</div>
	</section>
	<!-- ... end Block IMG-bottom -->

	<!-- Info Boxes -->
	<section class="medium-padding100" id="aboutsection">
		<div class="container">
			<div class="row">
                <h3 class="col-lg-12 text-center">Who, What and Why</h3>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-info-box info-box--numbers">
						<h5 class="order-number"></h5>
						<h3 class="h5 info-box-title"><i class="fa fa-arrow-down"></i> Who We Are</h3>
						<p class="info-box-text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
							molestie consequat, vel illum dolore eu feugiat nulla facilisis.
						</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-info-box info-box--numbers">
						<h5 class="order-number"></h5>
						<h3 class="h5 info-box-title"><i class="fa fa-arrow-down"></i> What We Do</h3>
						<p class="info-box-text">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
							lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram,
							anteposuerit litterarum formas humanitatis per.
						</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-info-box info-box--numbers">
						<h5 class="order-number"></h5>
						<h3 class="h5 info-box-title"><i class="fa fa-arrow-down"></i> Why We Do It</h3>
						<p class="info-box-text">Mirum est notare quam littera gothica, quam nunc putamus parum claram,
							anteposuerit litterarum formas humanitatis per.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ... end Info Boxes -->

	<!-- Info Boxes -->
	<section class="crumina-module crumina-module-slider bg-blue-lighteen medium-padding100">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-sm-offset-0">
					<div class="crumina-module crumina-heading align-center">
						<h2 class="heading-title">Short Story About Us</h2>
					</div>
				</div>

				<div class="col-lg-12 col-sm-12 col-md-12">
					<div class="swiper-container pagination-bottom" data-show-items="4">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="crumina-module crumina-info-box info-box--time-line">

									<div class="info-box-image bg-primary-color">
										<img class="utouch-icon" src="svg/flag.svg" alt="flag">
										<svg class="utouch-icon utouch-icon-dot-arrow time-line-arrow"><use xlink:href="#utouch-icon-dot-arrow"></use></svg>
									</div>

									<div class="info-box-content">
										<h6 class="timeline-year c-primary">2013</h6>
										<a href="#" class="h6 info-box-title">CrytoCurrencies in Africa</a>
										<p class="info-box-text">Wisi enim ad minim veniam, quis nostrud exerci tation
											qui nunc nobis videntur parum clari.
										</p>
									</div>

								</div>
							</div>

							<div class="swiper-slide">
								<div class="crumina-module crumina-info-box info-box--time-line">

									<div class="info-box-image bg-orange">
										<img class="utouch-icon" src="svg/settings.svg" alt="settings">
										<svg class="utouch-icon utouch-icon-dot-arrow time-line-arrow"><use xlink:href="#utouch-icon-dot-arrow"></use></svg>
									</div>

									<div class="info-box-content">
										<h6 class="timeline-year c-orange">2015</h6>
										<a href="#" class="h6 info-box-title">Innovative Approaches</a>
										<p class="info-box-text">Mirum est notare quam littera gothica, quam nunc putamus
											parum claram, anteposuerit lectores legere me lius quod ii legunt.
										</p>
									</div>

								</div>
							</div>

							<div class="swiper-slide">
								<div class="crumina-module crumina-info-box info-box--time-line">

									<div class="info-box-image bg-red">
										<img class="utouch-icon" src="svg/team.svg" alt="team">
										<svg class="utouch-icon utouch-icon-dot-arrow time-line-arrow"><use xlink:href="#utouch-icon-dot-arrow"></use></svg>
									</div>

									<div class="info-box-content">
										<h6 class="timeline-year c-red">2016</h6>
										<a href="#" class="h6 info-box-title">Impact on Developement</a>
										<p class="info-box-text">Investigationes demonstraverunt lectores legere me lius quod.
										</p>
									</div>

								</div>
							</div>

							<div class="swiper-slide">
								<div class="crumina-module crumina-info-box info-box--time-line">

									<div class="info-box-image bg-green">
										<img class="utouch-icon" src="svg/rocket-launch.svg" alt="rocket">
										<svg class="utouch-icon utouch-icon-dot-arrow time-line-arrow"><use xlink:href="#utouch-icon-dot-arrow"></use></svg>
									</div>

									<div class="info-box-content">
										<h6 class="timeline-year c-green">2017</h6>
										<a href="#" class="h6 info-box-title">A Goal Oriented Product</a>
										<p class="info-box-text">Ut wisi enim ad minim veniam, quis nostrud exerci tation
											ullamcorper suscipit lobortis nisl ut aliquip.
										</p>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ... end Info Boxes -->

	<!-- Case Item -->
	<section class="crumina-module crumina-module-slider medium-padding100">
		<div class="container">
			<div class="row">
				<div class="crumina-module crumina-module-img-bottom">
					<div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12">
						<div class="crumina-module crumina-heading">
							<h2 class="heading-title">Mission and Vision</h2>
						</div>
					</div>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="swiper-container pagination-bottom" data-show-items="2">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="crumina-module crumina-case-item" data-mh="case-item">
									<a href="img/case1.jpg" class="case-item__thumb js-zoom-image">
										<img src="img/case1.jpg" alt="case">
									</a>

									<div class="square-colored bg-product-blue"></div>
									<div class="case-item-content">
										<h5 class="title">We have a straight foward mission to be the pacesetters in CryptoCurrencies Hub in Africa</h5>
										<a href="#" class="more-arrow white">

										</a>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="crumina-module crumina-case-item" data-mh="case-item">
									<a href="img/case2.jpg" class="case-item__thumb js-zoom-image">
										<img src="img/case2.jpg" alt="case">
									</a>

									<div class="square-colored bg-product-violet"></div>
									<div class="case-item-content">
										<h5 class="title">Customer Satisfaction and Trust for CryptoCurrencies is our #1 Vision to Drive Productivity into their Lives</h5>
										<a href="#" class="more-arrow white">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- ... end Case Items -->
</div>

</body>
</html>
