<!doctype>
<html>
  
    <body ng-app="BitnobApp" ng-controller="CoinDetailController">
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        {{title}}
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1"></div>
<table class="table">
    <thead class="mdb-color darken-3">
        <tr class="text-white">
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>comdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>go come</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>okee</td>
            <td>the joker</td>
            <td>Omar Kunta</td>
        </tr>
    </tbody>
</table>

</div>
    </body>
</html>